{% extends "MainLayout.html" %} {% load static %} {% load crispy_forms_tags %} {% block content %}

<style>
    .form-text {
        display: none;
    }
    .invalid-feedback{
        color: rgb(247, 0, 0);
    }
</style>

<div class="container text-white card">
    
    <div class="row justify-content-center">
        <div class="col-md-8 p-4" style='color: #fff'>
            {% if messages %}
                <div class="mb-4">
                    {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% load crispy_forms_tags %}

            <h2>Change Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}